body {
    padding-top: 56px;
}

.carousel-item {
    height: 65vh;
    min-height: 300px;
    background: no-repeat center center scroll;
    background-size: cover;
}

.carousel-caption {
    background: rgba(0, 0, 0, 0.5);
    padding: 1rem;
}

.navbar-toggler {
    position: absolute;
    right: 10px;
}

.card{
    max-height: 900px !important;
}

.card-title{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.primary{
    align-items: center;
}
